
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
table {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    padding: 10px;
    table-layout: fixed;
    border: 1px solid gray;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

thead, tfoot {
    background-color: #7fb9c2;
}

.mark-1 {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: 0.875em;
}