h2 {
    text-align: center;   
}

header {
	margin: 10px auto;
	background-color: #3a506b;
	border: 1px solid #ffffff;
	box-shadow: 0 0 30px #777;
	text-align: center;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
    margin: 10px;
}

nav {	
    margin: 0 auto;	
    max-width: 760px;
    background-color: #000;
    }
    
.navigation {
    list-style: none;
    text-align: center; 
}
  
.navigation li:first-child { 
    display: block;}
  
.navigation li {
    display: none;
}
  
.navigation a {	
    display: block;	
    color: #fff; 
    padding: .75rem;	
    text-align: center;	
    text-decoration: none;}
  
.navigation a:hover {	
    color: #0b132b; 
    background-color: #fff; 
    font-weight: 700;	
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li { 
    display: block; 
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .navigation li:first-child { display: none;	}
	.navigation li { display: inline-block; margin-right: 1rem;}	
	.navigation li a { color: #ffffff;}
}

/* 1st Section */
.box-1{
    margin: 10px auto;
    position: relative;
    border: 1px dashed #ffffff;
    width: 960px;
    height: 300px;
}

.box-2{
    position: relative;
    background-color: #3a506b;
    width: 100%;
    height: 250px;
}


.weathersummary{
    position: absolute;
    top: 50px;
    left: 50px;
    padding: .5rem;
    border: 1.5px solid  black;
    background: radial-gradient(#3a506b, #5db7de)
    
}


/*columns*/

.left-column, .right-column {
    width: 100%;
    flex: 1 0 15em;
  }
  
  .right-column {
   padding-left: 30px; 
  }

  #row1, #row2 {
    padding: 1.1em; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align:center;
  }